<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Apple</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="home">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact">Contact</a></li>
      </ul>
    </nav>
    <main>
      <h1>Apple &gt; 6 &#9731; &reg;</h1>

      <hr />
      <img src="images/guts.jpg" width="200px" alt="Guts" />
      <ul>
        <li>
          <a href="https://www.apple.com/jo/iphone/"><span>Iphone</span></a>

          <ol>
            <li>Iphone 12</li>
            <li>Iphone 13</li>
            <li>Iphone 14</li>
            <li>Iphone 15</li>
          </ol>
        </li>
        <li>
          Android
          <ol>
            <li>Pixel 6</li>
            <li>Google phone</li>
            <li>Facebook phone</li>
          </ol>
        </li>
      </ul>
     <table>
      
     </table>

      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Aerial_view_of_Apple_Park_dllu.jpg/250px-Aerial_view_of_Apple_Park_dllu.jpg"
        alt="Apple coorporation"
      />
      <section>
        <h2>Section</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quod
          quisquam voluptatum perspiciatis fugit culpa, maiores eligendi debitis
          quibusdam accusantium aliquam autem?<sup
            ><a href="somesource.com">[2]</a></sup
          >
          Possimus id nobis voluptatibus neque porro, beatae deleniti? Inventore
          harum, sunt ducimus vel quisquam asperiores ipsam assumenda quo,
          consequuntur sint a deleniti officiis amet! Totam, quidem quia iure
          deleniti quisquam minus ex! Blanditiis, adipisci. Voluptas magnam
          mollitia perferendis? C<sub>8</sub> Enim ab dignissimos quis
          voluptatum eum harum id adipisci dicta distinctio quod alias, optio
          repellendus at odio vero error expedita! Animi cum similique, vel
          cupiditate praesentium hic rerum in porro?
        </p>

        <h2>I like H<sub>2</sub>0</h2>
        <p><sup>1</sup>/<sub>2</sub> + 1/2 = 1</p>
      </section>
    </main>
    <footer><p>This is my website
        <ul>
            <li><a href="contact">Contact</a></li>
            <li><a href="help">Help</a></li>
        </ul>
    </p></footer>
  </body>
</html>
