<%- include('partials/head') %>

<header><%- include('partials/navbar') %></header>
<h1>The Home Page <%= 'hello world'.toUpperCase() %></h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quia culpa
  necessitatibus amet voluptate. Magni officia reprehenderit eaque dolore
  tempora voluptatum dolor a repellendus numquam laudantium hic pariatur, iure
  quo!
</p>
<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque est aliquid
  beatae! Dolorem aliquid accusantium amet natus magnam, repellat placeat ipsam
  neque ullam eius eligendi velit, dolorum possimus nesciunt earum!
</p>
<%- include('partials/footer') %>
