<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>The Home Page <%= 'hello world'.toUpperCase() %></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quia
      culpa necessitatibus amet voluptate. Magni officia reprehenderit eaque
      dolore tempora voluptatum dolor a repellendus numquam laudantium hic
      pariatur, iure quo!
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque est
      aliquid beatae! Dolorem aliquid accusantium amet natus magnam, repellat
      placeat ipsam neque ullam eius eligendi velit, dolorum possimus nesciunt
      earum!
    </p>
  </body>
</html>
