<%- include('partials/head') %>
    <header>
      <%- include('partials/navbar') %>
    </header>
    <h1 style="text-align: center;">Sorry, couldn't find the <span style="text-decoration: underline;">
      <%= subreddit %>
    </span> subreddit</h1>
    <%- include('partials/footer') %>

