body {
  font-family: "Open Sans", sans-serif;
}
h1 {
  text-align: center;
}
#container {
  background-color: #003049;
  width: 90%;
  /* height: 500px; */
  margin: 0 auto;
  border: 5px solid #003049;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: flex-end; */
  /* flex-wrap: wrap; */
  /* align-content: center; */
}

#container div {
  width: 200px;
  height: 200px;
  transition: color 0.2s, border-color 0.2s, box-shadow 0.2s, transform 0.3s,
    border-radius 0.2s, flex-grow 0.3s;
  font-size: 4em;
  flex-basis: 600px;
}
/* div:nth-of-type(2){
    align-self: center;
}

div:nth-of-type(3){
    align-self: flex-end;
}
div:nth-of-type(4){
    align-self: center;
} */

#container div:hover {
  flex-grow: 1;
  border-color: #f1ff5c;
  /* color: white; */
  /* cursor: pointer; */
  box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
  transform: translateY(-0.25em);
  border-radius: 20px;
}

div:nth-of-type(1) {
  flex-shrink: 3;
  flex-grow: 1;
}
div:nth-of-type(5) {
  flex-grow: 2;
}

main {
  width: 80%;
  margin: 0 auto;
  border: 5px solid black;
  height: 500px;
  display: flex;
}

h2 {
  text-align: center;
}

main .sidebar {
  background-color: purple;
  border: 2px solid white;
  flex: 1 2 300px;
}

main .maincontent {
  background-color: cyan;
  flex: 2 1 700px;
}
